h1 {
    font-size: 3em;
    text-align: center;
    margin-bottom: 2em;
}
h2 {
    font-size: 4em;
}
h3 {
    font-size: 2em;
}
p {
    font-size: 2em;
}
img {
    border: 4px solid #8102F5;
    border-radius: 12px;
}
.logo {
    width: 35%;
    margin-top: 1rem;
    margin-bottom: 0;
}
.titulo {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.container-boton {
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 2.5rem;
}
.container-logo {
    text-align: center;
}
.container {
    display: flex;
    justify-content: space-between;
    min-height: 95vh;
    box-sizing: border-box;
}

.container-titulos {
    width: 48%;
    min-height: 95vh;
    background-color: #D1A2FC;
    box-sizing: border-box;
}

.container-santo {
    width: 48%;
    border: 4px solid #8102F5;
    box-sizing: border-box;
}
.container-imagen {
    text-align: center;
}

.letra {
    margin-top: 0;
    text-align: center;
    margin-bottom: 0.5rem;
}
.nombre {
    margin-top: 0;
    text-align: center;
}
.imagen {
    width: 20em;
    height: 20em;
}

button {
  font-weight: bold;
  font-size: 1.5em;
  padding: 1rem 2rem;
  background-color: white;
  border-radius: 12px;
  color: black;
  cursor: pointer;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  border: 4px solid #8102F5;
}

/* Efecto al pasar el mouse */
button:hover {
  background-color: #00b0cc;
  transform: translateY(-2px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

/* Efecto al presionar */
button:active {
  transform: translateY(1px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


/* Responsividad */
@media (max-width: 1024px) {
  h1 { font-size: 2.5em; }
  h2 { font-size: 3em; }
  h3, p { font-size: 1.5em; }

  .container {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .container-titulos, .container-santo {
    width: 90%;
    min-height: auto;
  }
  .imagen {
    max-width: 10em;
    max-height: 10em;
  }
  .logo {
    width: 50%;
  }

  button {
    font-size: 1.2em;
    padding: 0.8rem 1.5rem;
    margin-top: 0.5rem;
  }
}

@media (max-width: 600px) {
  h1 { font-size: 2em; }
  h2 { font-size: 2.5em; }
  h3, p { font-size: 1.2em; }

  .logo {
    width: 70%;
  }

  .imagen {
    max-width: 95%;
  }

  button {
    width: 90%;
    font-size: 1em;
    padding: 0.7rem 1rem;
    margin-top: 0.5rem;
  }

  .container {
    padding: 0.5rem;
  }

  .container-titulos, .container-santo {
    width: 100%;
    padding: 0.5rem;
  }
}